<div class="row rounded mt-2 mb-2" id="task-list">
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <h1>tareas pendientes</h1>

        <div *ngIf="taskListNoCompleted.length === 0">
          <span>felicidades no tienes tareas</span>
        </div>
        
        <button type="button" class="btn btn-primary" *ngIf="!showInputTask" (click)="showInputTextTask()">
          <i class="fa fa-plus" aria-hidden="true"></i> añadir nuevas tareas
        </button>

        <div *ngIf="showInputTask" class="input-group mt-2 mb-2">
          <input type="text" class="form-control" #task (keydown.enter)="addTask (task.value)">
          <span class="input-group-btn" >
            <button type="button" class="btn btn-primary" (click)="addTask (task.value)">añadir</button>
          </span>
        </div>

        <div class="alert alert-danger"  *ngIf="errorInput" role="alert">
          <strong>la tarea no puede estar vacia</strong>
        </div>

      </div>
    </div>
    

    <div class="row">
      <div class="col-12">
        <h1>tareas completada</h1>

        <button type="button" class="btn btn-primary">
          <i class="fa fa-eye-slash" aria-hidden="true"></i> ocultar tareas
        </button>

        <div *ngIf="taskListCompleted.length === 0">
          <span>no tienes tareas completadas</span>
        </div>
        
      </div>
    </div>


  </div>
</div>

